:host{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100dvh;
    align-items: center;
    margin: 0 40%;
}
.form{
    width: 400px;
    height: 400px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}